<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contacto_Prueba2</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<!-- inicio encabezado -->
	<div class="contenedor-padre-contacto">
	<header class="header-contacto">
	<!-- LOGO -->
	<div class="header__logo"><a href="#"><img src="../assets/img/donaldlogo.png" alt="logo"></a>
	</div>
	<!-- cierre logo -->
	<!-- inicio nav -->
	<!-- ITEM HIJO DE HEADER -->
	<nav>
		<ul class="header__nav nav--background">
	
				<li class="nav__item nav__item--background"><a href="../index.html"class="nav__item--color">HOME</a></li>
				<li class="nav__item nav__item--background"><a href="remeras.html"class="nav__item--color">REMERAS</a></li>
				<li class="nav__item nav__item--background"><a href="gorras.html"class="nav__item--color">GORRAS</a></li>
				<li class="nav__item nav__item--background"><a href="#"class="nav__item--color">CONTACTO</a></li>
				<li class="nav__item nav__item--background"><a href="talles.html"class="nav__item--color">GUIA DE TALLE</a></li>
		</ul>
	</nav>
	<!-- cierre nav -->
</header>
	<!-- cierre encabezado -->
	<!-- inicio contenido -->
	<main class="formularioc">
		<div>
			<h2>CONTACTANOS!</h2>
		</div>
<!-- FORMULARIO DE CONTACTO -->
		<form action="#">
			<br>
				<input type="text" name="nombre" placeholder="NOMBRE"></br>
			<br> <input type="text" name="apellido" placeholder="APELLIDO"></br>
			<br> <input type="text" name="E-MAIL" placeholder="CORREO ELECTRONICO"></br>
			<br><input type="PASSWORD" name="pass" placeholder="CONTRASEÑA"></br>
			<br><input type="number" name="edad" placeholder="EDAD"></br>
		<div>
	COMENTARIOS:
		</div>
	<div>
		<textarea name="" id="" cols="30" rows="10"></textarea>
	</div>
	<div>Acepto terminos y condiciones
	<input type="checkbox" name="aceptar" value="1">
	</div>
	<input type="submit" value="ENVIAR">
	<input type="reset" value="BORRAR">
	</form>
	</main>
<!-- cierre contenido -->
<!-- inicio footer -->
<footer>
	<!-- LOGO -->
	<div class="footerlogo">
		<a href="../index.html"><img src="../assets/img/donaldlogo.png" alt="savage"></a>
	</div>
	<h3>REDES SOCIALES</h3>
	<div class="rrss-foo">
		<a href="https://www.instagram.com/savage.dropslp/">
			<img src="../assets/img/INSTAGRAM.jfif" alt="insta">
		</a>
		<a href="https://www.facebook.com//">
			<img src="../assets/img/facebook atr.png" alt="facebook">
		</a>
	</div>
		<h3>CONTACTO</h3>
	<div class="contact">
		<a href="https://mail.google.com/">
			<img src="../assets/img/phone.png"></a>
		</div>
	</footer>
	</div>
<!-- cierre footer -->
</body>
</html>