<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PRoductos</title>
</head>
<body>
	<!-- inicio encabezado -->
<header>
	<!-- LOGO -->
	<div>
		<a href="../index.html">
		 	<img src="../assets/img/donaldlogo.png" alt="logo">
		 </a>
	</div>
	<!-- cierre logo -->
	<!-- inicio nav -->
		<nav>

		<!-- lista con viñetas -->
		<table border="6" cellpadding="3" cellspacing="7"> 
		<tr>
			<td><li><a href="../index.html">HOME</a></li></td>
			<td><li><a href="#">REMERAS</a></td>
			<td><li><a href="gorras.html">GORRAS</a></td>
				<td><li><a href="contacto.html">CONTACTO</a></li></td>
				<td><li><a href="talles.html">GUIA DE TALLE</a></li></td>
			</table>
		</tr>

	</nav>
	<!-- cierre nav -->
</header>
	<!-- cierre encabezado -->
	<!-- inicio contenido -->
<main>

	<div>
		<img vspace="50" hspace="50" src="../assets/img/MARLBORO.jpg" alt="remera">
	<select name="talle" id="talle">
		<option value="S">SMALL</option>
		<option value="M">MEDIUM</option>
		<option value="L">LARGE</option>
		<option value="XL">XLARGE</option>
	</select>
		<img hspace="50" vspace="50" src="../assets/img/real.jpg" alt="remera">
		<select name="talle" id="talle">
		<option value="S">SMALL</option>
		<option value="M">MEDIUM</option>
		<option value="L">LARGE</option>
		<option value="XL">XLARGE</option>
	</select>
	<table border="7" cellpadding="13" cellspacing="6">
		<tr>	
		<th>ID</th>
		<th>NOMBRE</th>
		<th>DESCRIPCION</th>
		<th>PRECIO</th>
	</tr>
	<tr>	
		<td>01</td>
		<td>REMERA NOT LOGIC</td>
		<td>ALGODON NEGRA</td>
		<td>$1850</td>
	</tr>
	<tr>	
		<td>02</td>
		<td>REMERA REAL</td>
		<td>ALGODON NEGRA</td>
		<td>$1850</td>
	</tr>
	<tr>	
		<td>03</td>
		<td>REMERA NIKE'S</td>
		<td>ALGODON BLANCA</td>
		<td>$1850</td>
	</tr>
	<tr>	
		<td>04</td>
		<td>REMERA SERPIENTE</td>
		<td>ALGODON BLANCA</td>
		<td>$1850</td>
	</tr>
	</table>

		<img hspace="50" vspace="50" src="../assets/img/NIKI.jpg" alt="remera">
		<select name="talle" id="talle">
		<option value="S">SMALL</option>
		<option value="M">MEDIUM</option>
		<option value="L">LARGE</option>
		<option value="XL">XLARGE</option>
	</select>
		<img hspace="50" vspace="50" src="../assets/img/SERPINTE.jpg" alt="remera">
		<select name="talle" id="talle">
		<option value="S">SMALL</option>
		<option value="M">MEDIUM</option>
		<option value="L">LARGE</option>
		<option value="XL">XLARGE</option>
	</select>
	</div>
</main>
<!-- cierre contenido -->
<!-- inicio footer -->
<footer>
	<!-- LOGO -->
	<a href="../index.html">
	<img src="../assets/img/donaldlogo.png" alt="savage"></a>
<!-- REDES SOCIALES -->
<div>
<h3>REDES SOCIALES</h3>
<a href="https://www.instagram.com/savage.dropslp/">
	<img src="../assets/img/INSTAGRAM.jfif" alt="insta">
</a>
<a href="https://www.facebook.com//">
	<img src="../assets/img/facebook atr.png" alt="facebook">
</a>
</div>
</div>
<!-- CONTACTO -->
<div>
	<h3>CONTACTO</h3>
	<a href="https://mail.google.com/">
	<img src="../assets/img/phone.png"></a>

</div>
</footer>
<!-- cierre footer -->
</body>
</html>